/* Base styles for mobile */
.section {
  padding: 20px;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.productCard {
  border: 1px solid #ddd;
  padding: 15px;
  width: 100%; /* Full width on mobile */
  box-sizing: border-box;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  min-width: 200px;
}

.productList :hover {
  cursor: pointer;
}

.productImage {
  width: 100%;
  height: 320px;
  object-fit: contain;
}

.productTitle {
  font-size: 16px;
  margin: 10px 0;
}

.productPrice {
  color: #8b5003;
  font-size: 18px;
  font-weight: bold;
}

/* Tablet and above */
@media (min-width: 550px) {
  .productCard {
    width: calc(49.5% - 20px); /* Two items per row on tablet */
  }
}

/* Desktop and above */
@media (min-width: 800px) {
  .productCard {
    width: calc(25% - 20px);; /* Four items per row on desktop */
  }
}