.navbar {
  padding: 15px 30px;
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.navImage {
  font-size: 3.5rem; 
  margin-right: 10px; 
  color: #8b5003; 
}

.navbarTitle {
  font-size: 30px;
  margin-left: 20px;
  color: #8b5003;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.navbarLeft {
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.navButtons {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 18px;
  align-items: center;
}

.navButtons button {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.navButtons button:hover {
  color: #49557e;
}

.navButtons button svg {
  margin-right: 8px;
}
